<!--

    Copyright 2013 Clockwork

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:nl/clockwork/ebms/admin/applicationConfig.embedded.xml"/>

	<import resource="classpath:nl/clockwork/ebms/cache.xml" />
	<import resource="classpath:nl/clockwork/ebms/datasource.xml" />
	<import resource="classpath:nl/clockwork/ebms/dao.xml" />
	<import resource="classpath:nl/clockwork/ebms/processor.xml" />

	<import resource="classpath:nl/clockwork/ebms/admin/dao.xml"/>

	<jaxws:endpoint implementor="#cpaService" address="/cpa" />

	<jaxws:endpoint implementor="#urlMappingService" address="/urlMapping" />

	<jaxws:endpoint implementor="#certificateMappingService" address="/certificateMapping" />

	<jaxws:endpoint implementor="#ebMSMessageService" address="/ebms" />

	<jaxws:endpoint implementor="#ebMSMessageServiceMTOM" address="/ebmsMTOM" serviceName="EbMSMessageServiceImplService" endpointName="EbMSMessageServiceImplPort">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
		</jaxws:properties>
	</jaxws:endpoint>

	<context:component-scan base-package="nl.clockwork.ebms.admin" />

	<bean id="wicketApplication" class="nl.clockwork.ebms.admin.web.WicketApplication">
		<constructor-arg name="maxItemsPerPage" value="${maxItemsPerPage}"/>
		<constructor-arg name="eventListenerType" value="${eventListener.type}"/>
	</bean>

	<bean id="loggingFeature" class="org.apache.cxf.feature.LoggingFeature">
		<property name="prettyLogging" value="true" />
	</bean>

	<cxf:bus>
		<cxf:features>
			<ref bean="loggingFeature" />
		</cxf:features>
	</cxf:bus>

</beans>