.classpath
.factorypath
.project
.settings
*.properties
log4j2.xml
target

.vscode
*.code-workspace

.idea
*.iml

*.log
activemq-data
data
hsqldb
ignite
logs
/dependency-reduced-pom.xml
/docker-compose.win32.yml
