.classpath
.factorypath
.project
.settings
log4j2.xml
*.properties
target

.vscode
*.code-workspace

.idea
*.iml

*.log
activemq-data
data
h2
hsqldb
ignite
logs
dependency-reduced-pom.xml
docker-compose.win32.yml
