# ignore hidden files/directories

hooks
.DS_Store
*~
\#*
.#*
*.jar
*.log
*.vgc
/.settings
/.classpath
/.project
/log4j2.xml
/*.properties
/dependency-reduced-pom.xml
/target
/findbugs
/activemq-data
/data
/hsqldb
/ebms-admin.properties
/ebms-admin.embedded.properties
/log4j.xml
/realm.properties

# IntelliJ IDEA
.idea
*.iml
