@CHARSET "ISO-8859-1";

body {
	font: 62.5%/1.2em verdana, arial;
	color: #333;
	background: #fff;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

textarea {
	font-family: verdana,arial;
	font-size: 1.1em;
	white-space: pre;
	word-wrap: normal;
	overflow-x: scroll;
}

.frameTop {
	width: 970px;		
	height: 100px;
	margin: 0 auto;
}

a.logo {
	background: transparent url(../images/ebms_logo.gif) no-repeat scroll 0%;
	float: left;
	height: 49px;
	margin: 10px 0 0 47px;
	width: 299px;
	text-indent: -9999em;
	overflow: hidden;
}

.frame {
	width: 970px;
	margin: 0 auto;
	overflow: auto;
}

.frame h1 {
	margin: 0 0 20px 28px;
	color: black;
	font-size: 1.5em;
}
			
.frameLeft {
	width: 150px;
	margin: 0 12px 0 10px;
	float: left;
	font-size: 1.2em;
}

.frameMiddle {
	float: left;
	width: 590px;
	margin: 0 14px 0 0;
}

.frameMiddle h1 {
	margin: 0 0 10px 0;
	color: black;
	font-size: 1.2em;
}

.frameBottom {
	width: 970px;
	clear: both;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

.frameRight {
	float: left;
	width: 168px;
	margin: 0;
	padding: 0;
	color: gray;
}

.frameRight H1 {
	margin: 0 0 10px 0;
}

.frameRight H2 {
	height: 23px;
	font-size: 1.0em;
	margin: 0;
	padding: 9px 0 0 7px;
	color: white;
	background-color: gray;
}

.frameRight div {
	padding: 10px 4px;
	margin: 0 0 8px 0;
	border: 1px solid gray;
	display: block;
}

.frameBottom {
	width: 970px;
	clear: both;
	margin: 0 auto;
	padding: 20px 0 0 0;
} 

table.horizontal,
table.vertical {
	border-collapse: collapse;
	width: 562px;
	font-size: 1em;
	border: 1px solid #cccccc;
}	

caption {
/*
	text-align: left;
	text-transform: capitalize;
	text-shadow: black;
*/
	visibility: hidden;
}
table.horizontal th {
	text-align: left;
	padding: 10px 0px 9px 8px;
	background: #f0f0f0;
	border-bottom: 1px solid #cccccc; 
}

table.horizontal tbody {
	margin: 0;
}

table.horizontal tfoot {
	margin: 0;
	border-top: 1px solid #cccccc; 
}

table.vertical th {
	text-align: left;
	padding: 6px 0px 5px 8px;
	vertical-align: top;
	background: #f0f0f0;
}

table.vertical tr {
	border-bottom: 1px solid #f0f0f0; 
}

table.vertical td {
	padding: 5px 0 7px 8px;
}

table.vertical tfoot {
	margin: 0;
}

table table {
	border-collapse: collapse;
}
table.horizontal table tbody,
table.vertical table tbody {
	background: none;
}

table.horizontal table th,
table.vertical table th {
	background: #f0f0f0;
}

table.horizontal tr.even {
	background-color: white;
}

table.horizontal tr.odd {
	background-color: #f0f0f0;
}
td.ok, span.ok {
	color: green;
}

td.warn, span.warn {
	color: orange;
}

td.error, span.error {
	color: red;
}
